@model List<Products>

<form method="post" name="id1">
    <table>
        <tr><td align="left">Id :</td><td><input type="text" name="id" required ></td></tr>
        <tr><td align="left">Название продукта:</td><td><input type="text" name="name" ></td></tr>
        <tr><td align="left">Картинка продукта:</td><td><input type="text" name="img" ></td></tr>
        <tr><td height="10" colspan="3"></td></tr>
        <tr><td colspan="2" align="center"><input type="submit" name="submit" value="Создать" ></td></tr>
    </table>
</form>