@model List<Products>

<form method="post">
    <table>
        <tr><td align="left">Id :</td><td><input type="text" name="id2" required ></td></tr>
        <tr><td height="10" colspan="2"></td></tr>
        <tr><td colspan="2" align="center"><input type="submit" name="delete" value="Удалить" ></td></tr>
    </table>
</form>