@model List<Category>

<form method="post" name="id1">
    <table>
        <tr><td align="left">Id для изменения:</td><td><input type="text" name="id" required ></td></tr>
        <tr><td align="left">Новое название продукта:</td><td><input type="text" name="name" ></td></tr>
        <tr><td align="left">Новая картинка:</td><td><input type="text" name="img" ></td></tr>

        <tr><td height="10" colspan="3"></td></tr>
        <tr><td colspan="2" align="center"><input type="submit" name="submit" value="Изменить" ></td></tr>
    </table>
</form>